<a href="https://colab.research.google.com/github/prof-rossetti/intro-to-python/blob/main/exercises/databases-sql/SQL_Practice_Chinook_DB_(Fall_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# References

We are using an example SQLite database from:

  + https://www.sqlitetutorial.net/sqlite-sample-database/

## Schema Diagram



Here is the Entity Relationship Diagram (ERD) for this database:

![](https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg)

# Setup

## Downloading the Database

Downloading the database file (then refresh the filesystem to see the "chinook.db" file):

In [1]:
import os

DB_FILEPATH = "chinook.db"

def download_db(db_filepath=DB_FILEPATH):
    """using some terminal commands to download the .db file"""

    if os.path.isfile(db_filepath):
        print("DATABASE FILE EXISTS!")
    else:
        print("---------------")
        print("DOWNLOADING...")
        !wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

        print("---------------")
        print("UNZIPPING...")
        !unzip "/content/chinook.zip"

        print("---------------")
        print("CLEANING UP...")
        !rm "/content/chinook.zip"


download_db()
assert os.path.isfile(DB_FILEPATH)

---------------
DOWNLOADING...
--2023-10-30 16:53:37--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 104.21.30.141, 172.67.172.250, 2606:4700:3037::ac43:acfa, ...
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|104.21.30.141|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip’

chinook.zip         100%[===================>] 298.43K  --.-KB/s    in 0.03s

2023-10-30 16:53:37 (11.5 MB/s) - ‘chinook.zip’ saved [305596/305596]

---------------
UNZIPPING...
Archive:  /content/chinook.zip
  inflating: chinook.db
---------------
CLEANING UP...

## Connecting to the Database

Depending on the type of database (e.g. SQLite, MySQL, PostgreSQL), we would use a different strategy and set of packages to connect with it.

In this case we have a SQLite database, so we can use the `sqlite` module to interface with the database in a lower-level way, or various functions from `pandas` pacakge to interface with the database in a higher-level way.

### SQLite Connection

In this section, we demonstrate our ability to connect to the database using the `sqlite` module.

In [4]:
import sqlite3

connection = sqlite3.connect(DB_FILEPATH)
connection.row_factory = sqlite3.Row
print("CONNECTION:", connection)

CONNECTION: <sqlite3.Connection object at 0x794159be4440>

In [5]:
cursor = connection.cursor()
print("CURSOR", cursor)

CURSOR <sqlite3.Cursor object at 0x794159bd4940>

Example question: "Who are all our customers? What are their names?"

In [6]:
sql = """
    SELECT *
    FROM customers;
"""
results = cursor.execute(sql).fetchall()
print("RESULTS:", len(results))
print(results)

RESULTS: 59
[<sqlite3.Row object at 0x794159c14be0>, <sqlite3.Row object at 0x794159c140d0>, <sqlite3.Row object at 0x794159c14eb0>, <sqlite3.Row object at 0x794159c14e80>, <sqlite3.Row object at 0x794159c14dc0>, <sqlite3.Row object at 0x794159c14e50>, <sqlite3.Row object at 0x794159c14df0>, <sqlite3.Row object at 0x794159c14d30>, <sqlite3.Row object at 0x794159c14ca0>, <sqlite3.Row object at 0x794159c14d60>, <sqlite3.Row object at 0x79415aa64c70>, <sqlite3.Row object at 0x79415aa67f40>, <sqlite3.Row object at 0x79415aa66b90>, <sqlite3.Row object at 0x79415aa676a0>, <sqlite3.Row object at 0x79415aa667a0>, <sqlite3.Row object at 0x794159c14c70>, <sqlite3.Row object at 0x794159c15300>, <sqlite3.Row object at 0x794159c15270>, <sqlite3.Row object at 0x794159c15330>, <sqlite3.Row object at 0x794159c15d80>, <sqlite3.Row object at 0x794159c14e20>, <sqlite3.Row object at 0x794159c15810>, <sqlite3.Row object at 0x794159c15d20>, <sqlite3.Row object at 0x794159c157e0>, <sqlite3.Row object at 0x794159c15630>, <sqlite3.Row object at 0x794159c16290>, <sqlite3.Row object at 0x794159c154b0>, <sqlite3.Row object at 0x794159c156c0>, <sqlite3.Row object at 0x794159c15900>, <sqlite3.Row object at 0x794159c14280>, <sqlite3.Row object at 0x794159c15570>, <sqlite3.Row object at 0x794159c15e40>, <sqlite3.Row object at 0x794159c15780>, <sqlite3.Row object at 0x794159c15c90>, <sqlite3.Row object at 0x794159c154e0>, <sqlite3.Row object at 0x794159c15150>, <sqlite3.Row object at 0x794159c14700>, <sqlite3.Row object at 0x794159c15f60>, <sqlite3.Row object at 0x794159c15de0>, <sqlite3.Row object at 0x794159c15690>, <sqlite3.Row object at 0x794159c15600>, <sqlite3.Row object at 0x794159c15720>, <sqlite3.Row object at 0x794159c15cf0>, <sqlite3.Row object at 0x794159c158a0>, <sqlite3.Row object at 0x794159c156f0>, <sqlite3.Row object at 0x794159c14550>, <sqlite3.Row object at 0x794159c15870>, <sqlite3.Row object at 0x794159c14ac0>, <sqlite3.Row object at 0x794159c15180>, <sqlite3.Row object at 0x794159c14ee0>, <sqlite3.Row object at 0x794159c14f10>, <sqlite3.Row object at 0x794159c159c0>, <sqlite3.Row object at 0x794159c15ba0>, <sqlite3.Row object at 0x794159c15450>, <sqlite3.Row object at 0x794159c15ea0>, <sqlite3.Row object at 0x794159c15b40>, <sqlite3.Row object at 0x794159c14400>, <sqlite3.Row object at 0x794159c147c0>, <sqlite3.Row object at 0x794159c15420>]

In [7]:
#for row in rows[0:3]:
#    print("-----")
#    print(type(row)) #> sqlite3.Row
#    print(row)

In [8]:
# these are the columns in the customers table
print(results[0].keys())

['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId']

In [9]:
dict(results[0])

{'CustomerId': 1,
 'FirstName': 'Luís',
 'LastName': 'Gonçalves',
 'Company': 'Embraer - Empresa Brasileira de Aeronáutica S.A.',
 'Address': 'Av. Brigadeiro Faria Lima, 2170',
 'City': 'São José dos Campos',
 'State': 'SP',
 'Country': 'Brazil',
 'PostalCode': '12227-000',
 'Phone': '+55 (12) 3923-5555',
 'Fax': '+55 (12) 3923-5566',
 'Email': 'luisg@embraer.com.br',
 'SupportRepId': 3}

In [10]:
results[0]["FirstName"]

'Luís'

Roll your own dataframe:

In [11]:
from pandas import DataFrame

records = [dict(row) for row in results]
results_df = DataFrame(records)
results_df.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [12]:
results_df[["CustomerId", "FirstName", "LastName"]]

    CustomerId  FirstName      LastName
0            1       Luís     Gonçalves
1            2     Leonie        Köhler
2            3   François      Tremblay
3            4      Bjørn        Hansen
4            5  František   Wichterlová
5            6     Helena          Holý
6            7     Astrid        Gruber
7            8       Daan       Peeters
8            9       Kara       Nielsen
9           10    Eduardo       Martins
10          11  Alexandre         Rocha
11          12    Roberto       Almeida
12          13   Fernanda         Ramos
13          14       Mark       Philips
14          15   Jennifer      Peterson
15          16      Frank        Harris
16          17       Jack         Smith
17          18   Michelle        Brooks
18          19        Tim         Goyer
19          20        Dan        Miller
20          21      Kathy         Chase
21          22    Heather       Leacock
22          23       John        Gordon
23          24      Frank       Ralston
24          25     Victor       Stevens
25          26    Richard    Cunningham
26          27    Patrick          Gray
27          28      Julia       Barnett
28          29     Robert         Brown
29          30     Edward       Francis
30          31     Martha          Silk
31          32      Aaron      Mitchell
32          33      Ellie      Sullivan
33          34       João     Fernandes
34          35   Madalena       Sampaio
35          36     Hannah     Schneider
36          37       Fynn    Zimmermann
37          38     Niklas      Schröder
38          39    Camille       Bernard
39          40  Dominique      Lefebvre
40          41       Marc        Dubois
41          42      Wyatt        Girard
42          43   Isabelle       Mercier
43          44      Terhi    Hämäläinen
44          45   Ladislav        Kovács
45          46       Hugh      O'Reilly
46          47      Lucas       Mancini
47          48   Johannes  Van der Berg
48          49  Stanisław        Wójcik
49          50    Enrique         Muñoz
50          51     Joakim     Johansson
51          52       Emma         Jones
52          53       Phil        Hughes
53          54      Steve        Murray
54          55       Mark        Taylor
55          56      Diego     Gutiérrez
56          57       Luis         Rojas
57          58      Manoj        Pareek
58          59       Puja    Srivastava

For this exercise, we'll prefer to use more specific SQL query to arrive at the answer more directly:

In [13]:
sql = """
    SELECT DISTINCT CustomerId, firstName, lastName
    FROM customers;
"""
results = cursor.execute(sql).fetchall()
print("RESULTS:", len(results))
for row in results:
    print(row["CustomerId"], row["firstName"], row["lastName"])

RESULTS: 59
1 Luís Gonçalves
2 Leonie Köhler
3 François Tremblay
4 Bjørn Hansen
5 František Wichterlová
6 Helena Holý
7 Astrid Gruber
8 Daan Peeters
9 Kara Nielsen
10 Eduardo Martins
11 Alexandre Rocha
12 Roberto Almeida
13 Fernanda Ramos
14 Mark Philips
15 Jennifer Peterson
16 Frank Harris
17 Jack Smith
18 Michelle Brooks
19 Tim Goyer
20 Dan Miller
21 Kathy Chase
22 Heather Leacock
23 John Gordon
24 Frank Ralston
25 Victor Stevens
26 Richard Cunningham
27 Patrick Gray
28 Julia Barnett
29 Robert Brown
30 Edward Francis
31 Martha Silk
32 Aaron Mitchell
33 Ellie Sullivan
34 João Fernandes
35 Madalena Sampaio
36 Hannah Schneider
37 Fynn Zimmermann
38 Niklas Schröder
39 Camille Bernard
40 Dominique Lefebvre
41 Marc Dubois
42 Wyatt Girard
43 Isabelle Mercier
44 Terhi Hämäläinen
45 Ladislav Kovács
46 Hugh O'Reilly
47 Lucas Mancini
48 Johannes Van der Berg
49 Stanisław Wójcik
50 Enrique Muñoz
51 Joakim Johansson
52 Emma Jones
53 Phil Hughes
54 Steve Murray
55 Mark Taylor
56 Diego Gutiérrez
57 Luis Rojas
58 Manoj Pareek
59 Puja Srivastava

### Pandas Helper Functions

Or use the `pandas.read_sql_query()` function to get a dataframe:

In [14]:
from pandas import read_sql_query

results_df = read_sql_query(sql, connection)
results_df.head()

   CustomerId  FirstName     LastName
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová

In [15]:
read_sql_query("SELECT DISTINCT CustomerId, FirstName, LastName FROM customers;", connection)

    CustomerId  FirstName      LastName
0            1       Luís     Gonçalves
1            2     Leonie        Köhler
2            3   François      Tremblay
3            4      Bjørn        Hansen
4            5  František   Wichterlová
5            6     Helena          Holý
6            7     Astrid        Gruber
7            8       Daan       Peeters
8            9       Kara       Nielsen
9           10    Eduardo       Martins
10          11  Alexandre         Rocha
11          12    Roberto       Almeida
12          13   Fernanda         Ramos
13          14       Mark       Philips
14          15   Jennifer      Peterson
15          16      Frank        Harris
16          17       Jack         Smith
17          18   Michelle        Brooks
18          19        Tim         Goyer
19          20        Dan        Miller
20          21      Kathy         Chase
21          22    Heather       Leacock
22          23       John        Gordon
23          24      Frank       Ralston
24          25     Victor       Stevens
25          26    Richard    Cunningham
26          27    Patrick          Gray
27          28      Julia       Barnett
28          29     Robert         Brown
29          30     Edward       Francis
30          31     Martha          Silk
31          32      Aaron      Mitchell
32          33      Ellie      Sullivan
33          34       João     Fernandes
34          35   Madalena       Sampaio
35          36     Hannah     Schneider
36          37       Fynn    Zimmermann
37          38     Niklas      Schröder
38          39    Camille       Bernard
39          40  Dominique      Lefebvre
40          41       Marc        Dubois
41          42      Wyatt        Girard
42          43   Isabelle       Mercier
43          44      Terhi    Hämäläinen
44          45   Ladislav        Kovács
45          46       Hugh      O'Reilly
46          47      Lucas       Mancini
47          48   Johannes  Van der Berg
48          49  Stanisław        Wójcik
49          50    Enrique         Muñoz
50          51     Joakim     Johansson
51          52       Emma         Jones
52          53       Phil        Hughes
53          54      Steve        Murray
54          55       Mark        Taylor
55          56      Diego     Gutiérrez
56          57       Luis         Rojas
57          58      Manoj        Pareek
58          59       Puja    Srivastava

# Challenges

Write SQL code to answer each of the questions in Parts 1-3. Execute the queries using Python.

> NOTE: in many cases it is possible to execute a simple SQL query to grab all the data, and then use pandas to further manipulate / process the data. HOWEVER: for this exercise, we are looking for you to **arrive at the answers using SQL only**! NO pandas, except for executing the queries.

Then also tackle Part 4, which asks you to setup a new database and practice storing some example data.


## Part 1 (Basic Queries)


A) Who are our customers (include their first and last names?)

B) Which customers are from the US (include their first and last names and email addresses)?

C) Which customers are from either the US or the UK (include their first and last names and email addresses)?

D) For all customers in the US or UK, sort by country, then state (HINT: use `ORDER BY` clause).

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)


## Part 2 (Aggregations)


A) How many customers do we have total?

B) How many customers are from the US?

C) For all US customers, how many are in each state?

D) How many customers in each country?

E) Which 5 countries have the most customers? Sort them in descending order of their customer count.

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)


## Part 3 (Multi-Table / Joins)


> HINT: here is a join types reference:
>
> <img src="https://camo.githubusercontent.com/52e1d3a424ed13892b4105190cd486f320ccc98b00ba33e40e36f678f23f6c9e/68747470733a2f2f7777772e696f6e6f732e636f6d2f6469676974616c67756964652f66696c6561646d696e2f4469676974616c47756964652f53637265656e73686f74735f323031382f4f757465722d4a6f696e2e6a7067" height=300 width=550/>


A)  For each album, what is the name of the artist that produced it? Expect 347 rows (row per album).

B) For each of the 275 artists, how many albums does each have? Optionally sort the results so the artists with the most albums are first.

C) For each of the 275 artists, how many tracks does each have? Optionally sort the results so the artists with the most tracks are first.

D) Who are the ten customers who have paid the most money (include their first and last names, as well as how many invoices each has had, as well as the total invoice amount for each)?

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """

    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

## Part 4 (Database Management)



A) **Create your own example dataset**, formatted as a list of dictionaries, and store it in a variable called `records`. It should contain around ten records or so. Choose your own topic / domain. Can use ChatGPT to help generate the examples. Create a pandas dataframe of this data, and store in a variable called `records_df`.


B) **Create / connect to a new SQLite database** to store the data. Choose your own database file name, perhaps called "exercise.db".

C) **Create a new table** in the database, using a specified schema that matches the columns / fields in your example dataset. Choose your own table name that describes the kind of records we will be storing in it. The table's schema should ideally include an auto-incrementing integer primary key called `id`, as well as an auto-generated timestamp called `created_at`.

D) **Store the records** in the designated table.

E) Execute a query to **retrieve all records from the table**, and display them, to verify the data got stored properly.

Nice!